/*
**  REMOVE PAGE HEADER
*/
div.oneFlexipage {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

div.pageBody {
  width: 100%;
  height: 100%;
}

div.flexipagePage {
  width: 100%;
  height: 100%;
}

div.regions.flexipageDefaultAppHomeTemplate {
  width: 100%;
  height: 100%;
}

div.flexipageDefaultAppHomeTemplate .region {
  margin-bottom: 0;
}

div.region {
  width: 100%;
  height: 100%;
}

div.flexipageComponent {
  width: 100%;
  height: 100%;
}

header.flexipageHeader.slds-page-header.uiBlock.oneAnchorHeader {
  display: none;
}


/*
**  COMPONENT
*/
.hub-navigator__wrapper {
  height: 100%;
}

.hub-navigator__wrapper .slds-page-header {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid #DDDBDA;
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: unset;
  padding: 0.7rem 1rem;
}

.hub-navigator__wrapper .slds-page-header__controls {
  align-items: center;
}

.hub-navigator__wrapper .slds-page-header__controls .refresh {
  display: flex;
  align-items: center;
  color: #313131;
  padding-right: 1.5rem;
}

.hub-navigator__wrapper .slds-page-header__controls .refresh span {
  margin-right: 1rem;
}

.hub-navigator__wrapper .slds-page-header__controls .refresh span:last-child {
  margin-right: 0;
}

.hub-navigator__wrapper .slds-media {
  align-items: center;
}

.hub-navigator__wrapper .slds-page-header__col-actions {
  padding-bottom: 0;
}

/*  ICON  */
.hub-navigator__figure .slds-icon_container {
  background-color:  #54698d;
}


.hub-navigator__content {
  max-height: calc(100% - 55px);
  min-height: 70px;
  overflow-y: auto;
  position: relative;
  padding: 0.7rem 1rem;
  border: 1px solid #DDDBDA;
  border-top: 0;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}


/*
**  TABLE
*/
.hub-navigator__table {
  width: 100%;
  border-collapse: collapse;
}

/*  TABLE TITLE  */
.hub-navigator__table tbody tr.table__title td {
  padding: 2rem 0.5rem 0.25rem 0.5rem;
}

.hub-navigator__table tbody:first-child tr.table__title td {
  padding-top: 0.25rem;
}

/*  TITLE  */
.hub-navigator__table tbody tr.table__title td .title__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hub-navigator__table tbody tr.table__title td .title__wrapper .title {
  margin-right: 0.5rem;
  font-size: 18px;
  letter-spacing: 0.2px;
  /* font-weight: 700; */
  color: #313131;
  line-height: 1;
  text-transform: uppercase;
}

.hub-navigator__table tbody tr.table__title td .title__wrapper .count {
  margin-right: 0.5rem;
}

.hub-navigator__table tbody tr.table__title td .title__wrapper .unauthorized {
  color: #D60501;
}

.hub-navigator__table tbody tr.table__title td .title__wrapper .count-hidden {
  color: #D60501;
}

/*  THEAD  */
.hub-navigator__table tbody tr.table__thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.8px;
  padding: 0.25rem 0.5rem;
  background-color: #FAFAF9;
  color: #514F4D;
  border-top: 1px solid #DDDBDA;
  border-bottom: 1px solid #DDDBDA;
}

/*  TBODY TR  */
.hub-navigator__table tbody tr.table__tr {
  position: relative;
}

.hub-navigator__table tbody tr.table__no-records td p {
  color: #080707;
  font-size: 13px;
  padding: 0.25rem 0.5rem;
}

.hub-navigator__table tbody tr.table__tr td {
  padding: 0.25rem 0.5rem;
  border-top: 1px solid #DDDBDA;
  border-bottom: 1px solid #DDDBDA;
}

.hub-navigator__table tbody tr.table__tr td .slds-dropdown-trigger{
  background-color: #FFFFFF;
}

.hub-navigator__table tbody tr.table__tr:hover td {
  background-color: #FBFBFB;
}

/*  TD CHECKBOX */
.hub-navigator__table tbody td.table__td-checkbox {
  width: 32px;
}
.hub-navigator__table tbody td.table__td-checkbox .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux {
  margin-right: 0;
}

/*  TD ICON */
.hub-navigator__table tbody td.table__td-icon {
  position: relative;
  width: 32px;
  text-align: center;
}

/*  TD ACTION */
.hub-navigator__table tbody td.table__td-action {
  width: 36px;
}

/* DATE NA */
.hub-navigator__table .table__date-na {
  font-size: 10px;
  color: #777777;
}

/*  TD HELPTEXT */
.hub-navigator__table .table__td-helptext {
  width: 32px;
}
.hub-navigator__table .table__td-helptext .slds-form-element__icon {
  padding-top: 1px;
}

/*  TBODY UNLINCKED  */
.hub-navigator__table tbody.hub-navigator__tbody-unlinked tr.table__title td .title__wrapper .title {
  color: #D60501;
}

.hub-navigator__table tbody.hub-navigator__tbody-unlinked tr.table__thead td {
  background-color: #FFF4F4;
  border-top: 1px solid #ECBFC1;
  border-bottom: 1px solid #ECBFC1;
  color: #D60501;
}

.hub-navigator__table tbody.hub-navigator__tbody-unlinked tr.table__tr td {
  border-top: 1px solid #ECBFC1;
  border-bottom: 1px solid #ECBFC1;
}

.hub-navigator__table tbody.hub-navigator__tbody-unlinked tr.table__tr:hover td {
  background-color: #fff9f9;
}

/*  TR DO NOT UPDATE  */
.hub-navigator__table tbody tr.table__tr-donotupdate td,
.hub-navigator__table tbody tr.table__tr-donotupdate td .table__date-na{
  text-decoration: line-through;
  color: #aaa;
}

/*  NOTIFICATION  */
.hub-navigator__notification {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 9500;
}

.hub-navigator__notification .slds-scoped-notification {
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #222222;
}

.hub-navigator__notification .slds-media__figure {
  position: relative;
  width: 32px;
}

/*  PROGRESS  */
.hub-navigator__table tbody .table__progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hub-navigator__table tbody .table__progress .slds-spinner_container {
  background-color: transparent;
}

.hub-navigator__table tbody .table__progress .slds-spinner:before,
.hub-navigator__table tbody .table__progress .slds-spinner:after,
.hub-navigator__table tbody .table__progress .slds-spinner__dot-a:before,
.hub-navigator__table tbody .table__progress .slds-spinner__dot-b:before,
.hub-navigator__table tbody .table__progress .slds-spinner__dot-a:after,
.hub-navigator__table tbody .table__progress .slds-spinner__dot-b:after {
  width: 3px;
  height: 3px;
}

/*  TBODY TR STATUSES  */
.hub-navigator__table tbody tr.table__tr.table__tr-progress td {
  background-color: rgba(255, 115, 2, 0.03);
}

.hub-navigator__table tbody tr.table__tr.table__tr-progress:hover td {
  background-color: rgba(255, 115, 2, 0.07);
}

.hub-navigator__table tbody tr.table__tr.table__tr-success td {
  background-color: rgba(2, 126, 70, 0.03);
}

.hub-navigator__table tbody tr.table__tr.table__tr-success:hover td {
  background-color: rgba(2, 126, 70, 0.07);
}

.hub-navigator__table tbody tr.table__tr.table__tr-error td {
  background-color: rgba(194, 57, 52, 0.03);
}

.hub-navigator__table tbody tr.table__tr.table__tr-error:hover td {
  background-color: rgba(194, 57, 52, 0.07);
}

.hub-navigator__table tbody tr.table__tr.table__tr-validate td.table__td-icon svg.slds-icon {
  fill: #6495ed;
}

.hub-navigator__table tbody tr.table__tr.table__tr-validate.table__tr-error td.table__td-icon svg.slds-icon,
.hub-navigator__table tbody tr.table__tr.table__tr-сancelled td.table__td-icon svg.slds-icon {
  fill: #c23934;
}

.modal-confirm__message {
  font-size: 15px;
  font-weight: 400;
}

/*
**  MODAL HISTORY CONTENT
*/
section.modal-history-content .slds-modal__content {
  position: relative;
  min-height: 70px;
  padding: 0;
}


/*
**  SORTING
*/
.table__sort {
  position: relative;
  cursor: pointer;
}

.table__sort.table__sort-asc,
.table__sort.table__sort-desc {
  padding-right: 1rem;
}

.table__sort.table__sort-asc:after,
.table__sort.table__sort-desc:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.table__sort.table__sort-asc:after {
  border-bottom: 5px solid #706E6B;
}

.table__sort.table__sort-desc:after {
  border-top: 5px solid #706E6B;
}

.hub-navigator__table tbody tr.table__thead td.table__td-icon-sort {
  width: 40px;
}

.table__thead .table__td-icon-sort svg {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.table__thead .table__td-icon .table__sort {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
**  MODAL DETAIL
*/
.slds-modal.modal-detail__section {
  z-index: 9010;
}

.slds-backdrop.modal-detail__backdrop {
  z-index: 9009;
}

.modal-detail__section .modal-detail__col-title {
  font-size: 12px;
  color: #777777;
  line-height: 1.2;
}

.modal-detail__section .modal-detail__col-label {
  min-height: 24px;
  font-size: 15px;
  color: #313131;
  line-height: 1.4;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 2px;
}

/*
**  MODAL LINK TO SOURCE
*/
.modal-link-to-source .slds-modal__content {
  overflow: unset;
  overflow-y: unset;
}